<div class="container">
  <div class="row footer-spacing">
    <a class="col-sm-6 col-md-6 socials"
    href="https://www.linkedin.com/in/davidyeungcoding/"
    target="_blank"
    rel="noopener noreferrer">Linked <i class="fab fa-linkedin"></i></a>
    <a class="col-sm-6 col-md-6 socials"
    href="https://github.com/davidyeungcoding"
    target="_blank"
    rel="noopener noreferrer"><i class="fab fa-github"></i> GitHub</a>
    <p class="col-sm-12 socials"><i class="fas fa-envelope-square"></i> davidyeungcoding@gamil.com</p>
  </div>
</div>