.socials {
  color: black;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  padding: 0;
}

.footer-spacing {
  margin: 15px 0;
}

@media only screen and (min-width: 360px) {
  .socials {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-spacing {
    margin: 15px 150px;
  }
}
