.navbar-style {
  background-color: #e0e0e0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
  font-size: 2em;
}

.nav-button {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 320px) {
  .nav-titles {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 768px) {
  .nav-titles {
    margin-left: 50px;
  }
}
